@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stylish&display=swap" rel="stylesheet">
</head>



<div class="topbar">
	<div class="titlebox">
		<h1>Commonspace</h1>
		<p id="titledescription">An app for organising student halls.</p>

		<p id="locationinfo">Rönnbladsgatan 2A floor 2</p>

	</div> 

	<div class="regloginbar">
		<button class="btn">Login</button>
		<button class="btn">Register</button>
	</div>
</div>

<div class="containers2">


	<div class="bulletinboardcontainer">

	</div>


	<div class="cleaningcontainer">
		<p id="cleaningTitle">Cleaning Schedule</p>

	</div>


</div>




