body {
    background-color: #513C2C;
    width: 1440px;
    height: 1024px;
    margin: 0 auto; /* centrerar body */

    font-family: Stylish
}

.topbar {
    display: flex;
    justify-content: space-between; /*lägger elementen bredvid varandra, så långt ifrån som möjligt*/
    align-items: center;
    position: relative;
    top: 45px;
}
.titlebox {
    display: flex;
    text-align: center; /* centrerar texten i boxen */
    flex-direction: column; /* stackar elemten på varandra */

    border-radius: 30px;
    background-color: #E6C2AF;
    width: 315px;
    height: 68px;

}
#titledescription {
    position: relative;
    bottom: 15px;
}
#locationinfo {
    background-color: #704545;
    color: white;
    width: 315px;
    height: 38px;
    border-radius: 15px;
    border: 1px solid black; /* Border color */
}

.regloginbar {
    height: 68px;
    width: 468px;
    background-color: #704545;
    border-radius: 50px;
    display: flex;
    flex-direction: row; /* Stack items vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    border: 1px solid black; /* Border color */

    gap: 65px; /* Space between items */
}
.btn {
    width: 165px;
    height: 38px;
    border-radius: 38px;
    background-color: #E6C2AF;
    font-size: 24px;

    display: flex;
    text-align: center; /* these 4 lines is for centering text inside the button*/
    justify-content: center; 
    align-items: center;
}
.containers2 {
    display: flex;
    justify-content: space-between; /*lägger elementen bredvid varandra, så långt ifrån som möjligt*/
    align-items: center;
    position: relative;
    top: 211px;
}

.cleaning-order-shoppinglist-container {
    width: 482px;
    height: 572px;
    border-radius: 15px;
    background-color: #E6C2AF;
    display: flex;
    flex-direction: column;
    padding: 15px; /* Even padding on all sides */
    box-sizing: border-box; /* Includes padding in width/height */
    border: 1px solid black; /* Border color */

    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto 1fr 1fr; /* Two equal rows */
    gap: 10px; /* Space between grid items */
}

.bulletinboardcontainer {
    width: 639px;
    height: 572px;
    border-radius: 15px;
    background-color: #E6C2AF;
}
#cleaningTitle {
    background-color: #704545;
    color: white;
    border-radius: 15px;
    border: 1px solid black; /* Border color */

    width: 283px;
    height: 45px;
    font-size: 36px;
    text-align: center;
    

    margin: 0 auto; /* centrerar boxen */
    position: relative;
    bottom: 12px;
    align-items: center;
    display: flex;

    justify-content:center;
   
}
#bulletinTitle {
    background-color: #704545;
    color: white;
    border-radius: 15px;
    border: 1px solid black; /* Border color */

    width: 283px;
    height: 45px;
    font-size: 36px;
    text-align: center;
    margin: 0 auto; /* centrerar boxen */
    position: relative;
    bottom: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.bulletin-cleaning-section {
    display: flex;
    flex-direction: column;
}

.cleaningtasks {
    background-color: #8499B1;
    border-radius: 15px;
    width: 238px;
    height: 444px;
    padding: 7px; /* Even padding on all sides */
    margin: 5px;


    align-items: center;
    justify-content: center;


}

.shoppinglistContainer {
    width: 181px;
    height: 189px;
    border-radius: 15px;
    background-color: #8499B1;
    margin: 5px; 
}

.orangeHeader {
    background-color: #FCA311;
    height: 63px;
    min-height: 63px; /*tvingar den att vara 63px även fast stora containern har en fixed storlek*/
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid black; /* Border color */

    margin-left: -15px; /* Matches parent's left padding */
    margin-right: -15px;
    margin-top: -15px;
    grid-column: 1/-1;

    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


#tasksTitle {
    font-size: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
}
.taskSection {
    grid-column: 2;
    grid-row: 2/ 4;

}

.cleaningTaskContainer {
    width: 207px;
    height: 44px;
    border-radius: 15px;
    background-color: #FCA311;
    margin: 10px; /* Even padding on all sides */


    gap: 45px; /* Space between grid items */
    align-items: center;
    display: flex;
}

.orderSection {
    grid-column: 1 /1;
}

.shoppinglistSection {
    grid-column: 1;
    grid-row: 3;
}
#cleaningTaskTitle {
    font-size: 20px;
    position: relative;
    top: 8px;
}
.cleaningTaskCheckbox {
    width: 15px;
    height: 15px;
    background-color: #E6C2AF;
    border-radius: 51px;
    position: relative;
    left: 15px;
}

.orderContainer {
    width: 177px;
    height: 216px;
    border-radius: 15px;
    background-color: #8499B1;
    margin: 5px;
    justify-content: center;
    padding: 0.1px;
    
}


.orangeorderbox {
    background-color: #FCA311;
    border-radius: 15px;
    width: 145px;
    height: 30px;
    margin: 12px;
    display: flex;


    gap: 15px; /* Space between grid items */
}


#nextCleanerName {
    font-size: 20px;
    position: relative;
    left: 15px;
}

#nextCleanerDates {
    font-size: 12px;
    position: relative;
    left: 15px;
    top: 6px;
}

    .cleaningboxTitles {
        background-color: #704545;
        border-radius: 15px;
        width: 104px;
        height: 27px;
        text-align: center;
        margin: 0 auto; /* centrerar boxen */

        align-items: center;
        color: white;
    }
.currentCleaner {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; /* Vertically center the items */

    gap: 35px; /* Space between items */

    height: 100%;
    border-radius: 15px;
    width: 426px;
    height: 34px;
    margin: 0 auto; /* centrerar boxen */

    background-color: #704545;
    color: white;
}

#currentcleanerName {
    font-size: 32px;
    position: relative;
    top: 5px;
    right: 30px;
    color: black;
}
#currentcleanerdates {
    color: black;
    position: relative;
    top: 7px;
    right:45px;
}
#currentcleanertext {
    position: relative;
    top: 7px;
    right: 35px;

}






.containersfooters2 {
    position: relative;
    top: 7px;
    height: 47px;
    background-color: #704545;
    border-radius: 15px;
    border: 1px solid black; /* Border color */
}







.hidden-form {
    display: none;
    margin-top: 20px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}

    .hidden-form.show {
        display: block;
    }




    
   
   